.gpt3__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
}

.gpt3__features-container__feature-title {
    width: 180px;
    margin-right: 2rem;
}

.gpt3__features-container__feature-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #ffffff;
}